[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyjwt = "*"
django-environ = "*"
django-cors-headers = "*"
django = "*"
pylint = "*"
autopep8 = "*"
psycopg2-binary = "*"
djangorestframework = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
